<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />

    <title>@ViewBag.Title - Landmine</title>
    @Styles.Render("~/Content/css")
    @Html.Partial("_Rollbar")
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Landmine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.RouteLink("Instructions", routeName: "Instructions")</li>
                    <li>@Html.RouteLink("Leaderboard", routeName: "Leaderboard")</li>
                    <li>@Html.RouteLink("Play Now", routeName: "Play")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  - <a href="http://www.mattburkedev.com">Matt Burke</a></p>
            <p>
                <a href="https://twitter.com/akatakritos/">Twitter</a> &bull;
                <a href="https://github.com/akatakritos/">Github</a> &bull;
                <a href="http://www.linkedin.com/pub/matt-burke/50/8b8/895">LinkedIn</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/application-scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
